<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Tiny Donations</title>
    <link rel="stylesheet" type="text/css" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<%- include header %>

<body>
    <div id="main-container" class="container-fluid">
        <section class="container">
            <div class="col-md-7 offset-2 col-centered">    
                <h5>Sign Up</h5>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><span>Already have an account? </span><a id="signuporinlink" href="/login">Sign In</a></div>
            <form class="form-horizontal" role="form" method="post" action="/signup" onSubmit="return checkblank(this);">
                <% if (message && message.length > 0) { %>
                <div class="alert alert-<%= level %> col-sm-12">
                    <%= message %>
                </div>
                <% } %>
                <div class="form-group">
                    <label for="name" class="">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="First, Last" required> 
                </div>
                <div class="form-group">
                    <label for="user_name" class="control-label">Username</label>
                    <input type="text" class="form-control" name="user_name" placeholder="Username" required> 
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required> 
                </div>
                <div class="form-group">
                    <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Sign Up</button>
                </div>
            </form>
        </div>
        </section>
    </div>
</body>

<%- include footer %>
</html>