html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #0073A6
}

button {
    margin-left: 5px;
}



/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  overflow: hidden;
  color: #ffffff;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
}

.navbar-brand{
  width: 100%;
  padding: 0 20px;
  font-family: Arial;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #333;
  text-align: center;
  text-decoration: none;
}

nav a {
  display: inline-block;
  line-height: 10px;
  color: #999;
  text-decoration: none;
  border-right: 1px solid #999;
}

nav a:last-child {
  border-right:  none;
  
}

#nav-btn {
    margin-left:5px;
}

#main-container {
  min-height: calc(100vh - 70px);
  margin-bottom:60px;
  padding-top: 130px;

}

.container {
  width: 100%;
  max-width: 960px;
}

.col-centered{
float: none;
margin: 0 auto;
}

#btn-signup {
    background-color: #FFA500;
    margin: 0;
}

#signuporinlink {
    color:#FFA500;
}

#signuporinform {
 margin-top:;
}

.create_donation_center{
  background-color:#FFA500
}

.deletedt{
  margin-left: 5px;
  color: #FFA500;
}

footer {
  border-top: 1px solid #cccccc;
  padding-top: 17px;
  clear: both;
  font-size: 12px;
  color: #999;
  text-align: center;
  background: #ffffff;
  height: 50px;
}

#map-profile {
    height: 350px;
    width: 100%;
}

#map-locations {
    width: 100%;
    height: 600px;
}

#profile-infowindow {
    display: none;
}

#profile-map-container {
  margin-top: 10px;
}

.modal-backdrop
{
    opacity:0.5 ;
}

       
/*.profile-container {
    display: block;
    font-size: 27px;
    margin-bottom: 40px;
}*/

/*#create_donation_center {
    margin-top: 74px;
    padding: 9px;
    border-radius: 5px;
    background: #d3d3f5;
    font-size: 13px;
    position: relative;
    left: -40px;
}*/

/*#donations-accepted-button {
    display: block;
    text-align: center;
}*/

/*.edit-donations {
    padding: 9px;
    border-radius: 5px;
    background: #d3d3f5;
    font-size: 13px;
    position: relative;
    left: 88px;
    top: -67px;
}*/

/*#update_accepted_donations {
    display: block;
    width: 52%;
    text-align: center;
    background: gray;
    margin: auto;
     padding: 11px; 
    border-radius: 5px;
}*/

/*.save-btn {
    background: #314453;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 8px;
    font-size: 25px;
    border-radius: 0px 0px 5px 5px;
}*/

/*.save-btn:hover {
    opacity: .5;
    border: 1px solid gray;
}*/

/*#update_profile {
    display: block;
    width: 52%;
    margin: auto;
    display: block;
    text-align: center;
    margin: auto;
    background: #f5f5f5;
    height: 425px;
    border-radius: 5px;
    margin-bottom: 20px;
}*/
/*.donate-save{
    background: #314453;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 8px;
    font-size: 25px;
    border-radius: 0px 0px 5px 5px;
}*/
/*.donate-save:hover{
    opacity: .5;
    border:1px solid gray;
}*/
/*#map-profile{
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
    width: 52%;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
}*/
#logout{
    float: right;
    font-size: 23px;
    font-family: inherit;
    color: green;
     margin: 0px; 
    padding: 0px;
    margin-top: 18px;
    margin-right: 20px;
    text-decoration: underline;
    cursor: pointer;
}

#logout:hover{
    text-decoration: none;
    color:blue;
    
}