html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        
}

button {
	margin-left : 5px;
}

#map-profile {
    height: 350px;
    width: 500px;
}
 
#map-locations {
     height: 600px;
     width: 800px;
 }

#profile-infowindow{
    display: none;
}
.profile-container{
    display: block;
    font-size: 27px;
    margin-bottom: 40px;
}
#create_donation_center{
    margin-top: 74px;
    padding: 9px;
    border-radius: 5px;
    background: #d3d3f5;
    font-size: 13px;
    position: relative;
    left: -40px;
}
#donations-accepted-button{
        display: block;
    text-align: center;

}
.edit-donations{
    padding: 9px;
    border-radius: 5px;
    background: #d3d3f5;
    font-size: 13px;
    position: relative;
    left: 88px;
    top: -67px;
}